@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900;&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/****** 
*******  reusable ***********************
******/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.heading-main h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.heading-main h2:after {
    content: "";
    display: block;
    width: 200px;
    border-bottom: 2px solid #487ff0;
    margin: 20px auto;
}

/****** 
*******  header ***********************
******/

header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url("img/food.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}

#logo img{
    width: 100px;
    position: absolute;
    top: 2%;
}

nav ul{
    float: right;
    margin-top: 45px;
}

nav ul li{
    display: inline-block;
    margin-left: 25px;
}

nav ul li a:link,
nav ul li a:visited{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:active{
    border-bottom: 2px solid #487ff0;
    transition: border-bottom 0.5s;
}



.header-text{
    position: absolute;
    top: 35%;
    left: 39%;
    transform: translate(-50%,-50%);
}

.header-text h1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}

.btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 20px;
    letter-spacing: 0.6px;
}

.btn-vlevo:link,
.btn-vlevo:visited{
    background: #093691;
    border: 1px solid #093691;
    color: #fff;
}

.btn-vlevo:hover,
.btn-vlevo:active{
    transition: background 0.4s;
    background: #487ff0;
    border: 1px solid #487ff0;
}



.btn-vpravo:link,
.btn-vpravo:visited {
    margin-left: 10px;
    border: 1px solid #487ff0;
}

.btn-vpravo:hover,
.btn-vpravo:active {
    transition: background 0.4s;
    background: #487ff0;
    border: 1px solid #487ff0;
}



/****** 
*******  About us ***********************
******/


.burger-example img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 5px 10px #000;
}


/****** 
*******  Burger info ***********************
******/

.burger-info img{
    width: 100%;
    height: 800px;
    border-radius: 10px;
    box-shadow: 4px 5px 10px #000;
}

.text-burger{
    margin-top: 110px;
}

.text-burger div{
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    border-radius: 50%;
    padding: 15px;
    float: left;
}

.text-burger p {
    margin-left: 70px;
    font-size: 20px;
}

/****** 
*******  Reference ***********************
******/


.reference{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/food.jpg);
    background-position: center;
    background-attachment: fixed;
}

.reference h2{
    color: #fff;
    padding-top: 40px;
}

.reference h2:after{
    border-bottom: 2px solid #fff;
}

.one-reference {
    color: #fff;
    font-size: 20px;
}

.one-reference p{
    font-style: italic;
    font-size: 14px;
}

.photo-name{
    margin-top: 10px;
    margin-bottom: 60px;
}

.photo-name p{
    padding: 14px;
    margin-left: 60px;
    font-style: normal;
    font-size: 20px;
}

.photo-name img{
    width: 50px;
    border-radius: 50%;
    float: left;
}


/****** 
*******  Photo Gallery ***********************
******/

.photo-segment li{
    list-style-type: none;
    background-color: #000;
    overflow: hidden;
    height: 750px;
}

.photo-segment img{
    width: 100%;
    opacity: 0.6;
    transform: scale(1.15);
    height: 750px;
}

.photo-segment img:hover{
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}



/****** 
*******  Contact form ***********************
******/


.contact-form{
    max-width: 800px;
    text-align: center;
    padding-bottom: 40px;
}

.contact-form input{
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
    font-size: 16px;
}

.contact-form textarea{
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
    font-size: 16px;
}

input[type="submit"]{
    background-color: #487ff0;
    color: #fff;
    font-size: 20px;
}

input[type="submit"]:hover,
input[type="submit"]:active{
    background-color: #093691;
    transition: background 0.5s;
}



/****** 
*******  Footer ***********************
******/


.footer-page{
    background: #093691;
    margin-top: 10px;
    color: #fff;
}

.social{
    text-align: center;
    margin: 10px 0;
}

.social p{
    display: inline;
}

.social p a:link,
.social p a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}

.social p a:hover,
.social p a:active{
    color: #000;
}

.footer-text {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}



/****** 
*******  Stop floating ***********************
******/

.clearfix {zoom: 1}
.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
